.navMain {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    padding: 1em;
    background-color: var(--background);
    color: var(--text);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.3em;
    z-index: 2;
    font-family: 'Itim', cursive;
}

.navMain .logo a {
    color: var(--text);
}

.navMain .logo:hover a {
    color: var(--primary);
}

.navMain .navIcons ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navIcons ul li {
    padding: 0 0.5em;
}

.navIcons ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--text);
    font-size: 0.8em;
}

.navIcons ul li a:hover {
    animation: swing 0.5s;
    color: var(--primary);
    /* animation-timing-function: cubic-bezier(0.375, 0.885, 0.32, 1.275); */
}

.navProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.navProfile2 {
    display: none;
}

.navProfileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    position: absolute;
    /* border: 1px solid var(--primary); */
    /* margin-top: 8em; */
    /* margin-top: 1em; */
}

.navProfileMenu a,
.btn {
    border: 1px solid var(--primary);
    padding: 0.5em;
    background-color: var(--background);
    margin: 0.5em;
    font-size: 0.7em;
    color: var(--primary);
    font-weight: 500;
}

.navProfileMenu .red {
    color: var(--red);
    border-color: var(--red);
}

.navProfileMenu .red:hover {
    background-color: var(--red);
}

.navProfileMenu a:hover,
.btn:hover {
    cursor: pointer;
    color: var(--background);
    background-color: var(--primary);
    transition: 0.5s;
}

.navMain .navTg {
    display: none;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}


@media only screen and (max-width: 880px) {

    .navIcons {
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: 0 0 0.7em var(--background-light);
        border: 1px solid var(--primary);
        border-radius: 0.3em;
        padding: 1em;
        z-index: 2;
        /* animation: zoomOut 0.5s;
        animation-fill-mode: forwards; */
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s, opacity 0.1s;
        animation: zoomOut 0.5s linear ease-out;
        animation-fill-mode: forwards;
        /* animation-timing-function: cubic-bezier(.175, 0.885, 0.32, 1.275);
        -o-animation-timing-function: cubic-bezier(cubic-bezier(0.175, 0.885, 0.32, 1.275)); */
    }



    #navTg:checked~.navIcons {
        opacity: 1;
        visibility: visible; /* Show the element when the checkbox is checked */
        display: flex;
        animation: zoomIn 0.5s linear;
        /* animation-duration: 0.4s; */
        animation-timing-function: cubic-bezier(.175, 0.885, 0.32, 1.275);
        -o-animation-timing-function: cubic-bezier(cubic-bezier(0.175, 0.885, 0.32, 1.275));
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        50% {
            opacity: 1;
        }
    }
    @keyframes zoomOut {
        from {
          opacity: 1;
        }
      
        50% {
          opacity: 0;
          transform: scale3d(0.3, 0.3, 0.3);
        }
      
        to {
          opacity: 0;
        }
      }
    .navMain .navTg {
        display: flex;
    }

    .navProfile2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

    }

    .navIcons .navProfile2 .navProfileMenu2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: relative;
        padding: 1em;
    }



    .navMain .navProfile {
        display: none;
    }

}