@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/* font-family: 'Itim', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

:root{
    --background:#252A34;
    --primary:#F6E444;
    --secondary:#a8e063;
    --text:#e2e6e5;
}





*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    color: var(--text);
}