.sTodoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Itim', cursive;
}

.sTodoMain .done {
    text-decoration: line-through;
    opacity: 0.5;
}

.sTodoMain ul {
    padding: 1em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    border: 1px solid var(--text);
    border-radius: 0.2em;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
    margin: 0.5em;
    transition: 0.5s;
}

.sTodoMain ul .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text);
    vertical-align: middle;
}

.sTodoMain ul .title input {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    border: none;
    outline: none;
    color: var(--text);
    vertical-align: middle;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: 1px solid var(--text);
    transition: 0.3s;
}


.sTodoMain ul .title i {
    margin-right: 0.5em;
    vertical-align: middle;
    margin-top: 0.2em;
}

.sTodoMain ul li {
    list-style: none;
    background-color: var(--background-light);
    border-radius: 0.1em;
    margin: 0.5em 0;
    padding: 0.3em 2em 0.3em 0.3em;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    transition: 0.5s;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.sTodoMain ul li:hover {
    opacity: 0.8;
}

.sTodoMain ul li .index {
    padding: 0.3em;
    cursor: pointer;
}

.sTodoMain ul li .index p {
    margin-right: 0.5em;
    border: 1px solid var(--text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    font-size: 0.6em;
    width: 0.6em;
    height: 0.6em;
}

.sTodoMain ul li .index:hover p {
    border-color: var(--green);
    transition: 0.3s;
}

.sTodoMain ul li .text {
    width: 95%;
}

.sTodoMain ul li .tools {
    display: inline-block;
    position: absolute;
    right: 0.15em;
}

.sTodoMain ul li i {
    color: var(--text);
    cursor: pointer;
    font-size: 0.9em;
    align-self: center;
    margin: 0.2em 0.2em;
}


.sTodoMain ul li i:nth-child(1):hover {
    color: var(--red);
}

.sTodoMain ul li i:nth-child(2):hover {
    color: var(--blue);
}

.sTodoMain .actionArea .inputArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0.5em;
}

.inputArea .updateBtns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sTodoMain .actionArea input {
    outline: none;
    border: 1px solid var(--text);
    border-radius: 0.4em;
    /* border-bottom: 1px solid var(--text); */
    color: var(--text);
    vertical-align: middle;
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    transition: 0.3s;
    width: 70%;
}

.sTodoMain .actionArea input:focus {
    border-color: var(--primary);
    transition: 0.5s;
}

.sTodoMain button ,.sTodoMain a {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
    font-family: 'Courgette', cursive;
    font-size: 1em;
    font-weight: 700;
    background-color: var(--primary);
    border: 2px solid var(--background-light);
    box-shadow: var(--background-light) 4px 4px 0 0;
    color: var(--background);
    cursor: pointer;
    display: inline-block;
    /* font-weight: 600; */
    font-size: 0.8em;
    border-radius: 1em;
    padding: 0.3em 0.4em;
    /* padding: 0.3em; */
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.sTodoMain button:hover,.sTodoMain a:hover {
    background-color: var(--text);
    box-shadow: var(--background) 1px 1px 0 0;
    transform: translate(2px, 2px);
    transition: 0.1s;

}

.sTodoMain button:active {
    box-shadow: var(--background) 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.sTodoMain button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}



/* new */



.privacyArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5em;
}

.privacyArea div {
    margin: 0 0.5em;
}

.b2{
    margin-left: 1em;
}

.tBtn {
    position: relative;
    padding: 0.7em 1.5em;
    overflow: hidden;
    background-color: var(--background-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    font-family: 'Itim', cursive;
    cursor: pointer;
}


.knobs {
    z-index: 2;
}



/* Button toggle */
.buttonTog .knobs:before,
.buttonTog .knobs span {
    content: 'No';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    color: var(--text);
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonTog .knobs:before {
    transition: 0.3s ease all, left 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    z-index: 2;
}

.buttonTog .knobs span {
    background-color: var(--red);
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    z-index: 1;
}

.buttonTog .checkbox:checked+.knobs:before {
    content: 'Yes';
    left: 50%;
    color: var(--background);
}

.buttonTog .checkbox:checked+.knobs span {
    left: 50%;
    background-color: var(--primary);
}

.sTodoMain .progress{
    width: 100%;
    margin-top: 0.5em;
    background-color: var(--background-light);
    border-radius: 0.3em;
}

.sTodoMain .progress .bar{
    height: 0.5em;
    background-color: var(--primary);
    border-radius: 0.3em;
    transition: 0.5s;
    
}

.sTodoMain .authorArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5em;
}
.sTodoMain .authorArea p a{
    font-family: "Itim", cursive;
}

.sTodoMain .regularArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5em;
}