.todosMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}

.todosMain .toboxArea {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.toboxArea hr{
    width: 100%;
    margin: 10px 0;
}

.toboxArea .public{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.toboxArea .private{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}